<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:sparkle="http://www.andymatuschak.org/xml-namespaces/sparkle"  xmlns:dc="http://purl.org/dc/elements/1.1/">
	<channel>
		<title>mplayer.git Binary Distribution Changelog</title>
		<link>http://mplayerosx-builds.googlecode.com/hg/sparkle/appcast.xml</link>
		<description>Most recent changes with links to updates.</description>
		<language>en</language>
		<item>
			<title>Version %s</title>
			<sparkle:releaseNotesLink>http://mplayerosx-builds.googlecode.com/hg/sparkle/rnotes/%s.html</sparkle:releaseNotesLink>
			<pubDate><%= time %></pubDate>
			<enclosure url="http://mplayerosx-builds.googlecode.com/files/%s" sparkle:version="%s" sparkle:shortVersionString="%s"	
			sparkle:dsaSignature="%s" length="%s" type="application/octet-stream" />
		</item>
	</channel>
</rss>