<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
	<plist version="1.0">
	<dict>
		<key>CFBundleName</key>
		<string>mplayer.git</string>
		<key>MPEBinaryDescription</key>
		<string>Bleeding edge version of the mplayer binary compiled with ffmpeg-mt, newest libass available and ordered chapters support. x86_64 and Snow Leopard only.</string>
		<key>MPEBinaryMaintainer</key>
		<string>Stefano Pigozzi</string>
		<key>MPEBinaryHomepage</key>
		<string>http://code.google.com/p/mplayerosx-builds/</string>
		<key>MPEBinarySVNRevisionEquivalent</key>
		<string>30136</string>
		<key>CFBundleVersion</key>
		<string>20100620</string>
		<key>CFBundleShortVersionString</key>
		<string>2010-06-20</string>
		<key>CFBundleIdentifier</key>
		<string>com.google.code.mplayerosx-builds.git</string>
		<key>CFBundleExecutable</key>
		<string>mplayer</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>SUFeedURL</key>
		<string>http://mplayerosx-builds.googlecode.com/hg/sparkle/appcast.xml</string>
		<key>SUPublicDSAKeyFile</key>
		<string>dsa_pub.pem</string>
		<key>LSBackgroundOnly</key>
		<integer>1</integer>
	</dict>
	</plist>